* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #ff900e;
  --secondary-color: #727272;
  --backgrpund-color:rgba(255, 144, 14, 0.1);
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}
.primary-btn {
  padding: 20px 25px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 32px;
}
.description {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  margin-top: 24px;
}
/* ------------- header style ----------------------*/
header {
  background-color: var(--backgrpund-color);
  padding: 50px 10px 45px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}
ul {
  display: flex;
  gap: 40px;
}
ul > li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}
.banner {
  margin: 100px 0 45px;
}
.banner-details {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.banner-title {
  font-size: 64px;
  font-weight: 700;
}
.banner img {
  width: 100%;
  margin-top: 50px;
}
/*------------------ feature style ----------------*/
.our-features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 76px;
  margin: 85px 10px 100px;
}
.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.primary-color{
    color: var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
    font-weight: 500;
}
/*----------------- article style ---------------*/
.articles{
  display: flex;
  gap: 90px;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.article .section-title{
  padding-left: 21px;
}
.article-border{
  border-left: 5px solid var(--primary-color);
  margin-right: 21px;
}
.article-details{
  display: flex;
  flex-direction: column;
}
.article-sub-detail{
  background-color: #ffffff;
  box-shadow: 0 4px 20px #ebebeb;
  padding: 30px 42px 30px 30px;
  border-radius: 8px;
  margin-top: 30px;
}
.article-sub-detail .description{
  margin-top: 10px;
}
.article-btn{
  font-size: 65px;
  padding: 46px 42px;
  line-height: 40px;
  position: relative;
  bottom: 155px;
  left: -65px;
}
.article-btn span{
  font-size: 25px;
}
/*------------------ facts style ----------------*/
.fact-details{
  margin: 20px 10px 20px;
}
.fact-info{
  display: flex;
  gap: 100px;
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
.fact{
  margin-bottom: 100px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 46px 30px 50px;
  text-align: center;
  width: 70%;
  position: relative;
  animation: coloring 4s ease-in-out 5 alternate;
}
/* animation */
@keyframes coloring{
    0%   {
      background-color: rgb(251, 226, 233);
      border-radius: 8px;
      color: #ffffff;
      top: 0;
    }
    25%{
      background-color: rgb(209, 206, 250);
      border-radius: 15px;
      font-size: 50px;
      color: #424242;
      top: 100px;

    }
    75%{
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      color: #424242;
      top:0px;
    }
    100% {
      background-color: rgb(183, 243, 255);
      border-radius: 25px;
      color: #ffffff;
      top: 100px;

      }
}
.fact-count{
  margin-top: 10px;
  font-size: 45px;
  width: 600;
  color: #424242;
  animation: coloring 4s ease-in-out 5 alternate;
}
.fact-title{
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
}
/*------------------ sponsers style ----------------*/
.sponsers-details{
  text-align: center;
  margin: 100px 10px 130px;
}
.sponsers{
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  filter: grayscale(1);
}
/*------------------ contact us style ----------------*/
.contact-us{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin: 0 20px 0 10px;
}
.contact-info{
  margin-top: 50px;
}
.contact-info i{
  color: var(--primary-color);
  margin-bottom: 40px;
  margin-right: 20px;
}
.contact-icon{
  font-size: 24px;
  margin-top: 100px;
}
.contact-icon .icon-hover{
  margin-right: 40px;
  color: var(--primary-color);
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px 10px;
  box-shadow: 0 3px 30px #d8d7d7;
  transition: 0.3s;
}
.contact-icon .icon-hover:hover{
  background-color: var(--primary-color);
  color: #ffffff;
}
.contact-form{
  width: 50%;
}
.contact-form label{
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 700;
  margin-bottom: 10px;
}
.contact-form input,textarea{
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom:1px solid var(--primary-color);
}
input[type=email]:focus{
  background-color: var(--backgrpund-color);
  
}
input[type=text]:focus{
  background-color: var(--backgrpund-color);
}
textarea:focus{
  background-color: var(--backgrpund-color);
}
.contact-form input[type="text"],input[type="email"],textarea{
  padding: 20px 5px;
  color: var(--secondary-color);
  font-size: 16px;
}
.contact-btn{
  text-align: end;
}
/*------------------ footer style ----------------*/
footer{
  background-color: var(--backgrpund-color);
  padding: 39px 300px;
  text-align: center;
  margin-top: 100px;
}
footer .description{
  font-size: 20px;
  color: #424242;
  font-weight: 600;
  margin-top: 0;
  
}
/*------------------ responsive ----------------*/

@media only screen and (max-width: 768px) {
  nav,
  ul,
  .our-features,
  .articles,
  .fact-info, .sponsers,.contact-us {
    flex-direction: column;
    align-items: flex-start;
    
  }
  .banner {
    margin-top: 50px;
  }
  .banner-details {
    width: 100%;
  }
  .feature {
      grid-template-columns: repeat(1 , 1fr);
      gap: 10px;
      justify-content: center;
      width: 100%;
    }
  .feature-img{
    width: 100%;
  }
  .article-img img{
    width: 100%;
  }
  .article-btn{
    line-height: 20px;
    padding: 26px 22px;
    position: static;
  }
  .article-btn , .article-btn span{
    font-size: 20px;
  }
  .fact-info , .sponsers{
    align-items: center;
    gap: 50px;
  }
 .contact-us{
  align-items: center;
 }
 .contact-form{
  width: 90%;
 }
 .contact-icon{
  margin-top: 20px;
}
  footer{
    padding: 20px 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .our-features,.articles , .fact-info{
        flex-direction: column;
    }
    .feature , .feature-img{
        width: 100%;
    }
    .article-img img{
      width: 100%;
    }
    .article-btn{
      left: 0;
    }
    .fact-details{
      text-align: center;
    }
    .fact-info{
      margin-bottom: 50px;
      gap: 50px;
      align-items: center;
    }
    footer{
      padding: 25px 50px;
    }
}
