* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
:root {
  --primary-color: #ff900e;
  --secondary-color: #727272;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.primary-btn {
  padding: 20px 25px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 32px;
}
.description {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  margin-top: 24px;
}
/* ------------- header style ----------------------*/
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 10px 45px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}
ul {
  display: flex;
  gap: 40px;
}
ul > li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}
.banner {
  margin: 100px 0 45px;
}
.banner-details {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.banner-title {
  font-size: 64px;
  font-weight: 700;
}
.banner img {
  width: 100%;
  margin-top: 50px;
}
/*------------------ feature style ----------------*/
.our-features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 76px;
  margin: 85px 10px 100px;
}
.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.primary-color{
    color: var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
    font-weight: 500;
}
/* article style */

/*------------------ responsive ----------------*/

@media only screen and (max-width: 768px) {
  nav,
  ul,.our-features {
    flex-direction: column;
    align-items: flex-start;
    
  }
  .banner {
    margin-top: 50px;
  }
  .banner-details {
    width: 100%;
  }
  .feature {
      grid-template-columns: repeat(1 , 1fr);
      gap: 10px;
      justify-content: center;
      width: 100%;
    }
  .feature-img{
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .our-features{
        flex-direction: column;
    }
    .feature , .feature-img{
        width: 100%;
    }
}
